.add-task {
  width: 100%;
  display: flex;
  margin-top: 2em;
  background-color: var(--background-todo);
  padding: 10px;
  border-radius: 5px;
}
.circle {
  width: 18px;
  height: 18px;
  margin-right: 0.8em;
  margin-left: 0.8em;
  border: 1px solid hsl(236, 9%, 61%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle:hover {
  cursor: pointer;
}

input,
.todo-text {
  width: 200px;
  padding: 0.3em 0;
  font-weight: bold;
  color: var(--text-color);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

input::placeholder {
  color: var(--text-dimmed);
}

.tasks {
  width: 100%;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.task {
  width: 100%;
  background-color: var(--background-todo);
  padding: 10px;
  border-bottom: 1px solid var(--text-dimmed);
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
}

.theme-switcher {
  cursor: pointer;
}

.cross {
  width: 18px;
  height: 18px;
  margin-right: 0.8em;
  margin-left: 0.8em;
  cursor: pointer;
}

.options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--background-todo);
  padding: 0.6em;
  border-bottom: 1px solid var(--text-dimmed);
  color: var(--text-dimmed);
  font-size: 12px;
  border-bottom: none;
  cursor: pointer;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.types {
  display: flex;
  gap: 0.5em;
}

.types-active {
  color: hsl(220, 98%, 61%);
}

.optiions-left-margin {
  margin-left: 0.8em;
}

.optiions-left-margin:hover {
  color: var(--text-color-hover);
}

.optiions-right-margin {
  margin-right: 0.8em;
}

.optiions-right-margin:hover {
  color: var(--text-color-hover);
}

.types div:hover {
  color: var(--text-color-hover);
}
